.parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.child{
  border:2px solid #AED6F1;
  padding:2%;
  margin:2%;
  box-shadow:3px 3px 3px #AED6F1;
}
img{
  width:200px;
  height:200px;
  border-radius:50%;
  border:2px solid #AED6F1;
}
h2,
h3{
  text-align:center;
}
a{
  display: block;
  text-align: center;
  text-decoration: none;
  background: #3498DB;
  color:#FDFEFE;
  padding:2%;
}
.leftchild{
  width:30%;
  border:2px solid #ddd;
  padding:2%;
  margin:2%;
}
.rightchild{
  width:70%;
  border:2px solid #ddd;
  padding:2%;
  margin:2%;
}
